# Database Configuration
DB_HOST=dpg-d40adm3ipnbc73chl6r0-a
DB_PORT=5432
DB_NAME=gaussdb
DB_USER=janosoler
DB_PASSWORD=XfVm8TjPk2Guln2lCGg1CYUBsWnowQ81

# Server Configuration
PORT=3000
NODE_ENV=development